*{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 87, 154);
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
}

.cont{
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.cont a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.cont a:hover{
  color: rgb(175, 20, 20);
}

.language{
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.language a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.language a:hover{
  color: rgb(175, 20, 20);
}

.menu-bar{
  margin-right: 10px;
  display: none;
}

.menu-icon path{
  transition: 0.5s;
}
.menu-icon:hover{
  filter:drop-shadow(0 0  5px rgba(0,0,0,0.5));
}
.menu-icon:hover path{
  fill: red;
}


@media(max-width:800px){
  .menu-bar{
    display: flex;
  }
  .language,.cont{
    display: none;
  }

  .nav-bar{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}



/*section of nav-bar*/

.nav-of-section{
  display: flex;
  background-color: rgb(68, 63, 63);
  padding: 20px 0;
  justify-content: space-evenly;
}
.list-of-section{
  display: flex;
  list-style: none;
  align-items: center;
}

.list-of-section a{
  text-decoration: none;
  padding: 0 2rem;
  color: white;
  transition: 0.5s;
}

.list-of-section a:hover{
  color: rgb(175, 20, 20);
}

@media(max-width:800px){
  .section-2{
    display: none;
  }
  .nav-bar img{
    display: none;
  }
}



.box{
  background-color: rgba(5, 87, 154, 0.601);
  height: 100vh;
  width: 250px;
  top:0;
  position: fixed;
  right: 0;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1rem;
  transition: 1s;
}


.bar-cont{
  display: flex;
  list-style: none;
  align-self: flex-start;
  margin-left: 9px;
}
.box-language{
  display: flex;
  list-style: none;
  align-self: flex-start;
  margin-left: 34px;
}
.bar-cont a,.box-language a{
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.bar-cont a:hover,.box-language a:hover,.box-ul a:hover{
  color: brown;
}

.box-ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;

}
.box-ul li{
  margin-bottom: 5px;
}
.box-ul a{
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.close path{
  transition: 0.5s;
}
.close{
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding-left: 5px;
}

.close:hover path{
  fill: darkred;
}
.close:hover{
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.9));
}

.main-page::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 6, 131, 0.321); /* Adjust color and opacity as needed */
  z-index: 1;
  pointer-events: none; /* Ensure it doesn't interfere with interactions */
}
.main-page{
  background-image: url(imag/3.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.main-page{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}



.moto{
  border: 1px solid rgb(255, 22, 22);
  padding: 0 2rem;
  box-shadow: 2px 4px 7px rgba(255, 0, 0, 0.786);
}

.moto h1{
  margin-top: 0;
  font-size: 50px;
  color: rgb(33, 255, 33);
}
.moto h2{
  color: white;
  padding-left: 80px;
}

.main-btn{
  margin-top: 60px;
  background-color: rgba(4, 3, 65, 0.34);
  border: 2px solid rgb(234, 67, 6);
  outline: none;
  padding: 1rem 7rem;
  border-radius: 2rem;
  transition: 0.5s;
}
.main-btn:hover{
  background-color: rgb(185, 11, 11);
  box-shadow: 4px 4px 8px rgba(255, 0, 0, 0.786);
}
.main-btn:hover a{
  color: white;
}
.main-btn a{
  color: rgb(244, 236, 5);
  text-decoration: none;
}

@media(max-width:800px){
  .moto{
    margin-top: 22px;
  }
  .moto h1{
    font-size: 40px;
  }
  .moto h2{
    font-size: 20px;
  }
  .main-btn a{
    font-size: 20px;
  }
}



.cards{
  height: 80vh;
}


.cards{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 2rem;
}

 .cards-image{
  width: 700px;
  height: 600px;
 }
 
 .cards-image img{
  margin-top: 4rem;
  object-fit:cover;
  width: 100%;
 }

 .cards-text{
    text-wrap: wrap;
    width: 400px;
 }

 .cards-text h3{
   font-size: xx-large;
    margin-bottom: 1.2rem;
    color: darkred;
    letter-spacing: 1px;
 }

 .cards-text p{
  line-height: 1.5;
  letter-spacing: 1.5px;

 }
 
  p span{
  color: darkred;
    font-weight: bold;
 }


 @media(max-width:800px){
  .cards{
    flex-direction: column;
    align-items: center;
  }
  .cards-image{
    width: 400px;
    height: 300px;
   }
 }